:root {
  --bg-color: rgb(229, 251, 251);
  --pry-color: teal;
  --color-white: #fff;
  --color-black: #000;
  --border: #00000032;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: cursive, sans-serif;
}
body {
  background-color: var(--bg-color);
}
.link {
  color: inherit;
  text-decoration: none;
}
.content {
  padding: 10em 0;
  height: calc(88vh - 10px);
}
.taskManager {
  margin-top: 0px;
}
.head {
  background-color: var(--pry-color) !important;
  color: var(--color-white);
}
.Btn {
  background-color: var(--pry-color) !important;
  font-size: 18px !important;
  border: 1px solid var(--pry-color);
  outline: none;
}
.closeBtn a {
  color: var(--color-black) !important;
  text-decoration: none;
  position: absolute;
  right: 20px;
  top: 10px;
}
